/* simple css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider{
  overflow:hidden;
  width: 60%;
  margin: 40px auto;
}

#slider #top-slider,
#slider #bottom-slider{
  display: flex;
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  clear:both;
}

#slider #top-slider{
  animation: topslider 6s ease-in infinite;
  /* animation: topslider 10s cubic-bezier(1,1,1,1) delay iteration-count direction fill-mode; */
}

.box{
  display: inline;
  widtH: 33%;
  text-align: center;
}

/* animations */

@keyframes topslider{
  0%{
    left: 0%;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -100%;
  }
  100%{
    left: -0%;
  }
}

/* end animations */