/* simple css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

#slider{
  overflow:hidden;
  width: 60%;
  margin: 40px auto;
}

#slider #top-slider,
#slider #bottom-slider{
  display: flex;
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  clear:both;
}

#slider #top-slider{
  animation: topslider 6s ease-in;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#slider #bottom-slider{
  animation: topslider 6s ease-in .03s;
}

#slider #top-slider p{
  /* background-color: black; */
  font-weight: 600;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  text-align:center;
  margin: 0 auto 10px auto;
}

#slider #top-slider h3{
  font-weight: 800;
  font-size: 50px;
}

#slider #top-slider .box h5{
  font-weight: 600;
  font-size: 25px;
  opacity: .4;
  /* animation: topsliderh5 2s ease-out infinite; */
}


.box{
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.box-4, .box-1 p{
  width: 100%;
  background: linear-gradient(90deg, rgba(73,177,137,1) 0%, rgba(147,240,176,1) 53%, rgba(0,212,255,1) 100%);
}
.box-5, .box-2 p{
  width: 100%;
  background: linear-gradient(90deg, rgba(249,248,47,1) 0%, rgba(240,208,147,1) 28%, rgba(255,10,0,1) 70%);
}
.box-6, .box-3 p{
  width: 100%;
  background: linear-gradient(90deg, rgba(47,249,239,1) 0%, rgba(147,190,240,1) 46%, rgba(40,0,255,1) 100%);
}


/* animations */

@keyframes topslider{
  0%{
    left: 0%;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -100%;
  }
  100%{
    left: -0%;
  }
}

/* end animations */