/* simple css reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

#slider{
  overflow:hidden;
  width: 60%;
  margin: 40px auto;
}

#slider #top-slider,
#slider #bottom-slider{
  display: flex;
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  clear:both;
}

#slider #top-slider{
  animation: topslider 6s ease-in;
}

#slider #top-slider p{
  background-color: black;
  font-weight: 600;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  text-align:center;
  margin: 0 auto 10px auto;
}

#slider #top-slider h3{
  font-weight: 800;
  font-size: 50px;
}

#slider #top-slider h5{
  font-weight: 600;
  font-size: 25px;
}


.box{
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* animations */

@keyframes topslider{
  0%{
    left: 0%;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -100%;
  }
  100%{
    left: -0%;
  }
}


/* end animations */