*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

figure.puzzle-figure{
  width: 70%;
  margin: 40px auto;
}

ul.new-puzzle{
  position: relative;
  list-style-type: none;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li.tile{
  background-color: #eee;
  /* width: 100px;
  height: 100px; */
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: inset 10px 10px 5px 6px rgba(0,0,0,.4);
  box-shadow: inset -3px -5px 3px 4px rgba(0,0,0,.6);
  position: absolute;
}
li.tile:hover{
  cursor: pointer;
  box-shadow: 0 0 6px 6px rgba(255,255,255, .2);
}
/* li.tile:nth-child(8){
  position:absolute;
  right: 100px;
  bottom: 0;
} */