*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

figure.puzzle-figure{
  position: absolute;
  margin-top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.puzzle{
  list-style-type: none;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 300px;
}

li.tile{
  background-color: #eee;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: inset 10px 10px 5px 6px rgba(0,0,0,.4);
  box-shadow: inset -3px -5px 3px 4px rgba(0,0,0,.6);
}